# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

# Shared secrets are available across all environments.

# shared:
#   api_key: a1B2c3D4e5F6

# Environmental secrets are only available for that specific environment.

development:
  secret_key_base: 4623dc8eff46b7c0d554aa018d035fb35a0020d3c4399097e169bd2f67e55246807b94b606b8d9ccc07b544b97d0984442795f00e7a088ebf4b0778c0c09acad
  qiniu_access_key: "xxx"
  qiniu_secret_key: "xxx"

test:
  secret_key_base: af95a4c23d777e0fa63ab98cb1d80edbc03655c214b3232f3237d407ac691e47fedc0d65e295ccd94f2cfa50a2e4e66a56d63b5fe86e21fa9db8e4434feaf64a

# Do not keep production secrets in the unencrypted secrets file.
# Instead, either read values from the environment.
# Or, use `bin/rails secrets:setup` to configure encrypted secrets
# and move the `production:` environment over there.

production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
